.bcfilter:hover .display-component{padding: 0;}
.bcfilter:hover .placeholder{
    background: var(--color-grey-100);
    cursor: pointer;
    padding: 5px;
}
.bcfilter .display-component{
    position: relative;
}
.bcfilter .options-component{
        position: absolute;
        margin: 0;
        bottom: -10px;
        left: -1px;
        min-width: 250px;
        transform: translateY(100%);
        display: none;
}
.bcfilter .options-component p:first-child{ text-align: right; margin: 0px 5px; padding: 0; }
.bcfilter .options-component a{ font-size: 80%; }
.bcfilter .options-component ul{
    padding: 0; margin: 0; display: flex; flex-wrap: wrap;
    max-width: 90vw;
    max-height: 90vh;
    overflow-y: scroll;
}
.bcfilter .options-component ul li{
    padding: 5px; margin: 5px;
    border-radius: 5px;
    border: 1px solid #F3F3F3;
    position: relative;
}
.bcfilter .options-component ul li:hover{
    background: var(--color-grey-200);
}
.bcfilter .options-component ul li.selected{
    padding-right: 25px;
}
.bcfilter .options-component ul li i{
    position: absolute;
    top: 0;
    border-radius: 5px;
    margin: 5px 0;
    margin-left: 3px;
    padding: 0px 5px;
}
.bcfilter .options-component ul li i:hover{
    background: var(--color-grey-200);
}
.bcfilter .options-component:hover{
    cursor: pointer;
}
.bcfilter .options-component .selected{
    background: var(--color-primary-really-light) !important;
}
.bcfilter.open .options-component{
    display: inline-block;
}
