.bc-readme{
    padding: 5px;
    pre{
        padding: 5px;
        background: #23241f;
        border-radius: 5px;
        // box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.75);
    }
    :not(pre) > code[class*="language-"] {
        padding: .3em;
    }
    h1,h2,h3,h4,h5{
        code[class*="language-"], pre[class*="language-"]{ font-size: 80%; }
        margin: 20px 0px 25px 0px;
    }
}