.bc-readme{
    padding: 5px;
}
.bc-readme li{ list-style-type: inherit; }
.bc-readme pre{
    padding: 5px;
    background: #393a37;
    border-radius: 5px;
}
.bc-readme :not(pre) > code[class*="language-"] {
    padding: 5px;
    font-size: 80%;
}
.bc-readme h1,.bc-readme h2,.bc-readme h3,.bc-readme h4,.bc-readme h5{
    margin: 20px 0px 25px 0px;
}
.bc-readme h1 code[class*="language-"],
.bc-readme h2 code[class*="language-"],
.bc-readme h3 code[class*="language-"],
.bc-readme h4 code[class*="language-"],
.bc-readme h5 code[class*="language-"]
.bc-readme h1 pre[class*="language-"],
.bc-readme h2 pre[class*="language-"],
.bc-readme h3 pre[class*="language-"],
.bc-readme h4 pre[class*="language-"],
.bc-readme h5 pre[class*="language-"]
{ font-size: 80%; }