@import '../theme/colors';
.bc-checkbox{
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    &:hover{
        background: $light-grey;
    }
    label {
        cursor: pointer;
        margin-bottom: 0px;
    }
    svg{margin-right: 10px;}
    button svg{margin-right: 0;}
    button.active{
        border: 1px $grey-400 solid;
    }
}