
// Main colors for the entire application
$darkBlue: #004085;
$darkYellow: #E6C452;
$darkRed: #D34F56;
$darkGreen: #28a745;
$yellow-100: #fbf5eb;

// Colors for the forms
$really-dark-grey: #181818;
$dark-grey: #5b5b5b;
$light-grey: #eee;
$light-blue: #7ab3ff;

$green: #28a745;
$orange: #ffbf00;

$grey-100: #f2f2f2;
$grey-200: #cccccc;
$grey-300: #b3b3b3;
$grey-400: #999999;
$grey-500: #808080;
$grey-600: #666666;
$grey-700: #4d4d4d;
$grey-800: #333333;
$grey-900: #1a1a1a;

@mixin deph1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}