:root{

    /* Main colors for the entire application */
    --color-primary: #004085; /* darkBlue */
    --color-primary-light: #7ab3ff; /* light-blue */

    --color-warning: #E6C452; /* darkYellow, orange */
    --color-warning-light: #fbf5eb; /* yellow-100 */

    --color-danger: #D34F56; /* darkRed */
    --color-success: #28a745; /* darkGreen, green */

    --color-grey-100: #f2f2f2; /* grey-100 */
    --color-grey-200: #cccccc; /* grey-200 */
    --color-grey-300: #b3b3b3; /* grey-300, light-grey */
    --color-grey-400: #999999; /* grey-400 */
    --color-grey-500: #808080; /* grey-500 */
    --color-grey-600: #666666; /* grey-600, dark-grey */
    --color-grey-700: #4d4d4d; /* grey-700 */
    --color-grey-800: #333333; /* grey-800, eally-dark-grey */
    --color-grey-900: #1a1a1a; /* grey-900 */

}

/*** RESET ****/
li{ list-style: none; }
body{
    color: var(--color-grey-600);
}


/*** UTILITY ****/

.bcbox{
    border: var(--color-grey-200) solid 2px;
    display: inline-block;
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
}